@import url('https //fonts.googleapis.com/css family=poppins');

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins','sans-serif';
}

body{
    background: linear-gradient(to right,#f6490f,#f27813,#ef9614);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display:flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 80vw;
    max-width: 80%;
    background-color: beige;
    height: 70vh;
    box-shadow: 0 0 5px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    text-align: center;
}

.score{
    font-size: large;
    font-weight: bold;
}
#user-score{
    color: #ef9614;
}
#total-score{
    color: #f6490f;
}